<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width" content="initial-scale=1">
<link rel="icon" href="{{vyfile.baseurl}}/static/img/vy.png" />
<link rel="stylesheet" href="{{vyfile.baseurl}}/static/css/normalize.css" type="text/css">
<link rel="stylesheet" href="{{vyfile.baseurl}}/static/css/sakura.css" type="text/css">
<link rel="stylesheet" href="{{vyfile.baseurl}}/static/css/borland.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<title>{{title}}</title>
</head>