<p>
<a href="{{vyfile.baseurl}}index.html">home</a>/<a href="{{vyfile.baseurl}}topics/">topics</a>/<a href="{{vyfile.baseurl}}posts/">posts</a>/<a href="{{vyfile.baseurl}}pages/about.html">about</a>/<a href="{{vyfile.baseurl}}pages/now.html">now</a>/<a href="http://chad.ujj.space">links</a></p>
