<html>
{{>head}}
<body>
{{>nav}}
<h1>Topics</h1>
<p>
  Tiny topics.
</p>
{{content_type}}
{{#items}}
<ul>
    <li>{{date}} | <a href="{{url}}">{{title}}</a></li>
</ul>
{{/items}}
{{{content}}}
{{>foot}}
</body>
</html>
